.todos_container {
  margin: 0 auto;
  max-width: 300px;
}

button {
  padding: 10px;
  background: black;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

input {
  padding: 10px;
  outline: none;
}
